@{
    ViewBag.Title = "About";
}
<h2>Examen Soluciones en Telemetria</h2>
<p>Examen para Soluciones en Telemetria, aplicacion en C# .net, base de datos en PostgresSQL</p>
<p>Al hacer click en las cabezeras de reordena el contenido de la tabla</p>

<p>Datos de la importacion:</p>
<ul>
	<li>Formato: CSV</li>
	<li>Encoding: UTF8</li>
	<li>OID: No</li>
	<li>Header: Yes</li>
	<li>Delimiter: |</li>
	<li>Quote: "</li>
	<li>Escape: '</li>
</ul>
